<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
    <center>
        <form name="search" id="search" action="/stu/addStudent" method="post">
            请输入姓名: <input name="name" type="text"/>
            请输入年龄: <input name="age" type="text"/>
            请输入分数: <input name="score" type="text"/>
            <button name="submit" type="submit" value = "提交" >提交</button>
        </form>
    </center>
</body>
</html>